@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@1&family=Roboto+Slab:wght@400;500;600;700&family=Roboto:ital@1&family=Sriracha&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: #333;
    font-family: 'Roboto', sans-serif;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
    margin: 0;
}
.conter-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    margin: 30px 50px;
}
.counter{
    font-size: 60px;
    margin-top: 10px;
}
